<%- include header%>
<form method="post">
  <lable>用户名：</lable>
  <input type="text" name="name" />
  <lable>密码：</lable>
  <input type="password" name="password" />
  <lable>确认密码：</lable>
  <input type="password" name="password-confirm" />
  <lable>邮箱：</lable>
  <input type="email" name="email" />
  <input type="submit" value="注册" />
</form>
<%- include footer%>
